@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
}

* {
  scroll-behavior: smooth;
}
.swiper-button-prev-new,
.swiper-button-next-new {
  color: #000 !important; /* Ganti dengan warna yang diinginkan */
  width: 44px !important;
  height: 44px !important;
}

.swiper-pagination-new {
  bottom: 10px !important; /* Sesuaikan posisinya */
}

.swiper-pagination-bullet {
  background: #3559c7 !important; /* Ganti dengan warna yang diinginkan */
}

.swiper-button-prev1,
.swiper-button-next1 {
  color: #3559c7 !important; /* Ganti dengan warna yang diinginkan */
  width: 44px !important;
  height: 44px !important;
  background-color: #ff0025;
}

.swiper-pagination1 {
  bottom: 10px !important; /* Sesuaikan posisinya */
}

.swiper-scrollbar1 {
  background: #ccc !important; /* Sesuaikan dengan desain Anda */
}

@layer components {
  nav ul {
    @apply lg:flex lg:gap-12 lg:items-center;
  }

  nav li a {
    @apply hover:text-blue-custom;
  }

  .swiper-new {
    .swiper-wrapper {
      .swiper-slide {
        img {
          @apply w-[350px] h-[350px] bg-auto rounded;
        }
      }
    }
  }

  .servicesContent {
    p {
      @apply font-medium text-text-content;
    }
  }
  .servicesContent:nth-child(odd) {
    @apply bg-blue-custom text-white text-center;
    hr {
      @apply w-[60px] text-center mx-auto justify-center h-0.5 text-white;
    }
  }

  .servicesContent:nth-child(even) {
    @apply bg-white text-blue-custom text-center;
    hr {
      @apply w-[60px] text-center mx-auto justify-center h-0.5 text-blue-custom;
    }
  }

  .servicesContent1 {
    p {
      @apply font-medium text-text-content;
    }
  }
  .servicesContent1:nth-child(even) {
    @apply bg-blue-custom text-white text-center;
    hr {
      @apply w-[60px] text-center mx-auto justify-center h-0.5 text-white;
    }
  }

  .servicesContent1:nth-child(odd) {
    @apply bg-white text-blue-custom text-center;
    hr {
      @apply w-[60px] text-center mx-auto justify-center h-0.5 text-blue-custom;
    }
  }

  .contactBackground {
    background-image: url(assets/bannerContact.png);
    @apply w-full bg-cover bg-no-repeat text-center py-10 lg:px-64 px-4;
  }

  .footer li a:hover {
    @apply text-blue-custom;
  }
}

#menu {
  transition: max-height 0.3s ease-in-out;
}
